{% extends 'base.html' %}

{% block content %}
    <div class="col-md-2 col-md-offset-5">
  <h2>Add Celebrity</h2>
  <form method="post">
    {% csrf_token %}
      {% for field in form %}
                         <p>
                           {{ field.label_tag }}<br>
                           {{ field }}
                           {% for error in field.errors %}
                             <p style=“color:yellow”>{{ error }}</p>
                           {% endfor %}
                         </p>
                       {% endfor %}

            <button type="submit">Add Celebrity</button>

  </form>
    </div>
{% endblock %}
