{% extends 'base.html' %}

{% block content %}
    <div class="col-md-2 col-md-offset-5">
  <h2>Add Celebrity</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

            <button type="submit">Add Event</button>

  </form>
    </div>
{% endblock %}
