
{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

  <div class="col-md-2 col-md-offset-5">
        <h1>Login</h1>
        <div class=“main-agileinfo”>
            <div class=“agileits-top”>
  <form method="post" class="form-horizontal">
    {% csrf_token %}
           {% for field in form %}
                         <p>
                           {{ field.label_tag }}<br>
                           {{ field }}
                           {% for error in field.errors %}
                             <p style=“color:yellow”>{{ error }}</p>
                           {% endfor %}
                         </p>
                       {% endfor %}
    <button type="submit">Login</button>
  </form>
    </div>
{% endblock %}

