<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% extends 'base.html' %}
{% block content %}
<h1>Events</h1>


<table class="table table-bordered" id="example">
<thead>
<tr>
    <th>Name</th>
    <th>age</th>
    <th>Net Worth</th>
    <th>email</th>
    <th>dob</th>
</tr>
</thead>
 <tbody>


{% for celebrity in celebrities %}
<tr>

         <td>{{ celebrity.name}}</td>
         <td>{{ celebrity.age}}</td>
         <td>{{ celebrity.net_worth}}</td>
         <td>{{ celebrity.email}}</td>
         <td>{{ celebrity.dob}}</td>



  {% endfor %}

    </tr>
 </tbody>
</table>
{% endblock %}

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#example').dataTable()
			} );
</script>