<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% extends 'base.html' %}
{% block content %}
<h1>Events</h1>


<table class="table table-bordered" id="example">
<thead>
<tr>
    <th>Event Name</th>
    <th>Event Venue</th>
    <th>Event Date</th>
    <th>Event Celebrities</th>
</tr>
</thead>
 <tbody>

    {% if events %}
{% for event in events %}
<tr>

         <td>{{ event.event_name}}</td>
     <td>{{ event.event_name}}</td>
         <td>{{ event.event_date }}</td>

         <td><a class="btn btn-primary" href="/showcelebrities/{{ event.id }}">Show celebrities</a></td>


  {% endfor %}
  {% endif %}
    </tr>
 </tbody>
</table>

{% endblock %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#example').dataTable()
			} );
</script>