 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
#brand-image
{
    margin-bottom: 100px;
    height:30px
}


    </style>
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcome</a>
    </div>

      <ul class="nav navbar-nav navbar-right">
      <ul class="nav navbar-nav">
        {% if user.is_authenticated %}

       <a class="navbar-brand" href="/api">
           <img class="animated bounce infinite" id="brand-image" src="../static/api1.png">
       </a>
            <li class="active"><a href="/addcelebrity/">Add Celebrity</a></li>
            <li><a href="/addevent/">Add Event</a></li>
            <li><a href="/viewevent/">View Event</a></li>
            <li><a href="/allceleb/">All Celebrities</a></li>

      </ul>

           <li><a href="/logout/"><span></span> Log Out</a></li>
        {% else %}

       <a class="navbar-brand" href="/api">
           <img id="brand-image" src="../static/api1.png">
       </a>
            <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}


    </ul>
  </div>
</nav>


{% block content %}
{% endblock %}


<script>
    $('input').addClass('form-control')
    $('SELECT').addClass('form-control')

</script>
</body>
</html>